In [1]:
%matplotlib inline
import matplotlib as mpl
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
mpl.style.use('ggplot')

In [2]:
df = pd.read_csv('./dds_datasets/nyt/nyt1.csv')
# df = pd.read_csv('http://stat.columbia.edu/~rachel/datasets/nyt1.csv')
df.head()

   Age  Gender  Impressions  Clicks  Signed_In
0   36       0            3       0          1
1   73       1            3       0          1
2   30       0            3       0          1
3   49       1            3       0          1
4   47       1           11       0          1

In [3]:
df.describe()

,Age,Gender,Impressions,Clicks,Signed_In
count,458441.000000,458441.000000,458441.000000,458441.000000,458441.000000
mean,29.482551,0.367037,5.007316,0.092594,0.700930
std,23.607034,0.481997,2.239349,0.309973,0.457851
min,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,3.000000,0.000000,0.000000
50%,31.000000,0.000000,5.000000,0.000000,1.000000
75%,48.000000,1.000000,6.000000,0.000000,1.000000
max,108.000000,1.000000,20.000000,4.000000,1.000000

In [3]:
g_age = df.groupby(pd.cut(df['Age'], [-np.Inf, 0, 18, 24, 34, 44, 54, 64, np.Inf ]))

In [9]:
g_age[['Age','Gender']].agg([len, np.min, np.mean, np.max])

              Age                       Gender
              len amin       mean amax     len amin      mean amax
Age
(-inf, 0]  137106    0   0.000000    0  137106    0  0.000000    0
(0, 18]     19252    7  16.033503   18   19252    0  0.642115    1
(18, 24]    35270   19  21.269039   24   35270    0  0.533853    1
(24, 34]    58174   25  29.503352   34   58174    0  0.532162    1
(34, 44]    70860   35  39.494680   44   70860    0  0.531696    1
(44, 54]    64288   45  49.492580   54   64288    0  0.528979    1
(54, 64]    44738   55  59.498189   64   44738    0  0.536188    1
(64, inf]   28753   65  72.988697  108   28753    0  0.363266    1